.text-title {
  font-weight: 700;
  font-size: 24pt;
  letter-spacing: -0.11pt;
  line-height: 32pt;
}

.text-subtitle {
  font-weight: 600;
  font-size: 18pt;
  letter-spacing: -0.08pt;
  line-height: 24pt;
}

.text-regular {
  font-weight: 400;
  font-size: 16pt;
  letter-spacing: -0.07pt;
  line-height: 24pt;
}

.text-action {
  font-weight: 400;
  font-size: 16pt;
  letter-spacing: -0.08pt;
  line-height: 24pt;
}