$form-base-padding: 42pt;

$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$blue: rgba(55, 125, 255, 1);
$gray-1: rgba(130, 142, 154, 1);
$gray-2: rgba(119, 131, 143, 1);
$gray-3: rgba(231, 234, 243, 1);
$gray-4: rgb(217, 220, 229);

$box-shadow: 0 8pt 8pt 0 rgba(119, 131, 143, 0.16);